.webPageContainer{
    display:flex;
    flex-direction:column;
    width:100%;
    background-color:rgb(49, 49, 49);
    justify-content:center;
    align-items:center;

}
.rpsHeader{
    display:flex;
    margin-bottom:6%;
    margin-top:15%;
    border-color:rgb(200, 200, 200);
    border-style:solid;
    border-radius:3%;
    width:30vw;
    justify-content:center;
}
.rpsHeaderText{
    font-size:1em;
    color:rgb(200, 200, 200);
    padding:5%;
    width:100%;
}
.startBC{
    display:flex;
    width:100%;
}
#startButton{
    object-fit:contain;
    max-width:20%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5%;
}
#startButton:hover{
    transform: scale(1.15);
}
.choices{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:50%;
    margin-top:8%;
    margin-bottom:8%;
}
#choiceRock{
    flex:auto;
    object-fit:contain;
    max-width:20%;
    margin-left:5%;
    margin-right:5%;
    aspect-ratio:1/1;
}
#choiceRock:hover{
    transform: scale(1.15)
}
#choicePaper{
    flex:auto;
    object-fit:contain;
    max-width:20%;
    margin-left:5%;
    margin-right:5%;
    aspect-ratio:1/1;
}
#choicePaper:hover{
    transform: scale(1.15)
}
#choiceScissors{
    flex:auto;
    object-fit:contain;
    max-width:20%;
    margin-left:5%;
    margin-right:5%;
    aspect-ratio:1/1;
}
#choiceScissors:hover{
    transform: scale(1.15)
}
.scores{
    display:flex;
    justify-content:space-around;
    margin-left:auto;
    margin-right:auto;
    width:60%;
    margin-bottom:5%;
}
.playerScoreBox{
    border-style:solid;
    color:rgb(200, 200, 200);
    width:15%;
}
.computerScoreBox{
    border-style:solid;
    color:rgb(200, 200, 200);
    width:15%;
}
.psbHeader{
    margin-top:15%;
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
    color:rgb(200, 200, 200)
}
.csbHeader{
    margin-top:15%;
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
    font-size:0.9em;
    color:rgb(200, 200, 200)
}
#playerScore{
    margin-top:30%;
    margin-bottom:20%;
    margin-left:auto;
    margin-right:auto;
    width:fit-content;
    color:rgb(200, 200, 200)
}
#computerScore{
    margin-top:30%;
    margin-bottom:20%;
    margin-left:auto;
    margin-right:auto;
    width:fit-content;
    color:rgb(200, 200, 200)
}